	<h1>Search</h1>

	<%= form_tag "result", :method => 'post' do %>
	<p>
		<%= text_field_tag "search[name]"%>
		<%= submit_tag "Search" %>
	</p>
	<% end %>

	<h3>Title Matches</h3>

	<% if @title_results %>
	<% @title_results.each do |result| %>
	<%= link_to "#{result.title}", "article/#{result.id}" %>
	<% end %>
	<% end %>

	<h3>Author Matches</h3>

	<% if @author_results %>
	<% @author_results.each do |result| %>
	<%= link_to "#{result.name}", "newscolumn/#{result.id}" %>
	<% end %>
	<% end %>

	<br>

	<h3>Tag Matches</h3>

	<% if @tag_results %>
	<% @tag_results.each do |result| %>
	<%= link_to "#{result.title}", "article/#{result.id}" %>
	<% end %>
	<% end %>

	<br>
