<div>
  <div class="text-center">
    <h2>Reports on Newspeak</h2>
  </div>

  <div>
    <% @articles.each do |article| %>
      <div class="col-md-offset-1 col-md-10 well inline-block">
        <div class="col-md-1 pull-left btn-group">
          Reputation: <h3 class="text-center"><%= article.reputation_for(:votes).to_i ||= 0 %></h3><br>
          <%= link_to "+", vote_article_path(article, {type: "up", value: article.reputation_for(:votes)}), method: "post", :class => "btn btn-default" %>
          <%= link_to "-", vote_article_path(article, {type: "down", value: article.reputation_for(:votes)}), method: "post", :class => "btn btn-default" %>
        </div>
        <div class="col-md-10">
          <h3><%= link_to article.title, article_path(article) %> </h3>
          <h4> By: <%= article.author.name %>&nbsp;&nbsp;&nbsp;&nbsp;<%= article.created_at.to_formatted_s(:m_d_y_time) %> </h4>
          <p>Abstract: <%= article.abstract %></p>
          <p>Tags: <%= raw article.tag_list.map {|tag| link_to tag, tag_path(tag)}.join(', ') %></p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-offset-3 col-md-6 well text-center">
    <h2>Tag Cloud</h2> 
    <div id="tag_cloud" class="center-block">
      <% tag_cloud Article.tag_counts, %w[s m l] do |tag, css_class| %>
        <%= link_to tag.name, tag_path(tag.name), class: css_class %>
      <% end %>
    </div>
    </div>
  </div>
</div>