Newspeak - Awesome Citizen Journalism<br><br>

<%= @article.title %><br>
Written by: <%= @article.author.name %><br>
Date: <%= @article.created_at.to_formatted_s(:m_d_y_time) %><br>
Abstract: <%= @article.abstract %><br>
Sources: <%= @article.sources %><br><br>
<%= @article.body %><br><br>

<a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-hashtags="Newspeak" data-dnt="true">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

Comments:

<ul class="list-group">
	<li class="list-group-item list-inline">
		<h5>Post a comment: </h5>
    <%= form_for [@article, @comment] do |f|%>
    <%= f.hidden_field :article_id, value: @article.id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.label :body, "Comment" %><br>
    <%= f.text_area :body, :class => "form-control", :rows => "3" %><br>
    <%= f.submit "Create Comment", :class => "btn btn-default"%>
    <% end %>
  </li>
</ul>

<% @article.comments.each do |comment| %>
<li class="list-group-item list-inline">
  <p>Created at: <%= comment.created_at.to_formatted_s(:m_d_y_time) %></p>
  <p><%= comment.body %></p>
  <p>Written by: <%= comment.author%></p>
</li>
<% end %>


