<div class="well">
<%= @article.title %>
Written by: <%= @article.author.name %>
Date: <%= @article.created_at.to_formatted_s(:m_d_y_time) %>
Abstract: <%= @article.abstract %>
Sources: <%= @article.sources %>
Body: <%= @article.body %>
Tags: <%= raw @article.tag_list.map {|tag| link_to tag, tag_path(tag)}.join(', ') %>
</div>
<% if current_user.id == @article.author_id %>
  <%= link_to "Edit Article", "/articles/#{@article.id}/edit", :class => "btn btn-default" %>
  <%= link_to "Delete Article", @article, method: :delete, :data => {:confirm => "Are you sure?"}, :class => "btn btn-default" %>
<% end %>
<div>
  <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-hashtags="Newspeak" data-dnt="true">Tweet</a>
</div>


<!-- Tip doesn't work because we haven't allowed users to add their PayPal email. -->
<div>
  <% if current_user %>
  <button><%= link_to "Tip", "https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=#{@article.author.paypal_email}&lc=US&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donate_SM%2egif%3aNonHosted"%></button>
  <% end %>
</div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

Comments:

<ul class="list-group">
	<li class="list-group-item list-inline">
		<h5>Post a comment: </h5>
    <%= form_for [@article, @comment] do |f|%>
    <%= f.hidden_field :article_id, value: @article.id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.label :body, "Comment" %><br>
    <%= f.text_area :body, :class => "form-control", :rows => "3" %><br>
    <%= f.submit "Create Comment", :class => "btn btn-default" %>
    <% end %>
  </li>
</ul>

<% @article.comments.each do |comment| %>
<li class="list-group-item list-inline">
  <p>Created at: <%= comment.created_at.to_formatted_s(:m_d_y_time) %></p>
  <p><%= comment.body %></p>
  <p>Written by: <%= comment.user.name %></p>
</li>
<% end %>


