<div class="well">
  <h2><%= @article.title %></h2>
  <h4>By: <%= @article.author.name %></h4>
  <h4>Date: <%= @article.created_at.to_formatted_s(:m_d_y_time) %></h4>
  <p><strong>Abstract:</strong> <%= @article.abstract %></p>
  <p><strong>Sources:</strong> <%= @article.sources %></p>
  <p><strong>Body:</strong> <%= @article.body %></p>
  <p><strong>Tags:</strong> <%= raw @article.tag_list.map {|tag| link_to tag, tag_path(tag)}.join(', ') %></p>
</div>

<% if current_user.id == @article.author_id %>
  <%= link_to "Edit Article", "/articles/#{@article.id}/edit", :class => "btn btn-default" %>
  <%= link_to "Delete Article", @article, method: :delete, :data => {:confirm => "Are you sure?"}, :class => "btn btn-default" %>
<% end %>
<div>
  <div>
    <% if current_user %>
    <%= link_to "Tip", "https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=#{@article.author.paypal_email}&lc=US&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donate_SM%2egif%3aNonHosted", :target => "blank", :class => "btn btn-default"%>
    <% end %>
  </div>
  <div>
    <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-hashtags="Newspeak" data-dnt="true">Tweet</a>
  </div>
</div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<h3>Comments:</h3>

<ul class="list-group">
	<li class="list-group-item list-inline">
		<h5>Post a comment: </h5>
    <%= form_for [@article, @comment] do |f|%>
    <%= f.hidden_field :article_id, value: @article.id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.label :body, "Comment" %><br>
    <%= f.text_area :body, :class => "form-control", :rows => "3" %><br>
    <%= f.submit "Create Comment", :class => "btn btn-default" %>
    <% end %>
  </li>
</ul>

<% @article.comments.each do |comment| %>
<li class="list-group-item list-inline">
  <p>Created at: <%= comment.created_at.to_formatted_s(:m_d_y_time) %></p>
  <p><%= comment.body %></p>
  <p>Written by: <%= comment.user.name %></p>
</li>
<% end %>


