<% page_header "Conversation" %>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: "alert alert-info" %>
<% end %>
 
<div class="panel panel-default">
  <div class="panel-heading"><%= @conversation.subject %></div>
 
  <div class="panel-body">
    <div class="messages">
      <% @conversation.receipts_for(current_user).each do |receipt| %>
        <% message = receipt.message %>
        <strong> From: </strong>
        <%= message.sender.name %>
          <strong> Body: </strong>
            <%= message.body %>
          <strong>Date:</strong> <%= message.created_at.strftime("%-d %B %Y, %H:%M:%S") %>
        <br>
      <% end %>
    </div>
  </div>
</div>

<div>
  <%= form_tag reply_conversation_path(@conversation), method: :post do %>
    <div class="form-group">
      <%= text_area_tag 'body', nil, cols: 3, class: 'form-control', placeholder: 'Type something...', required: true %>
    </div>
    <%= submit_tag "Send Message", class: 'btn btn-primary' %>
    <a href="/conversations" class="btn btn-default">Back</a>
  <% end %>
</div>