<% Home.most_popular.each do |article| %>
<div class="row">
	<div class="col-md-3 pull-left text-center well btn-group">
		<div>
			Reputation: <h3 class="text-center"><%= article.reputation_for(:votes).to_i ||= 0 %></h3>
		</div>
		<% if current_user %>
			<%= link_to "+", vote_article_path(article, {type: "up", value: article.reputation_for(:votes)}), method: "post", :class => "btn btn-default" %>
			<%= link_to "-", vote_article_path(article, {type: "down", value: article.reputation_for(:votes)}), method: "post", :class => "btn btn-default" %>
		<% end %>
	</div>
	<div class="col-md-9 pull-right">
		<h3><%= link_to article.title, article_path(article) %></h3>
		<h4> By: <%= link_to "#{article.author.name}", "newscolumn/#{article.author.id}" %> &nbsp;&nbsp;&nbsp;&nbsp;
			<%= article.created_at.to_formatted_s(:m_d_y_time) %> </h4>
			<p>Abstract: <%= article.abstract %></p>
		</div>
	</div>
	<% end %>