<% if current_user.name.nil? %>
  <div>
    <p>
      Welcome to Newspeak! Please set your Username. You may also include the email that is linked 
      to your PayPal account if you wish to receive tips for your writing.
    </p>
  </div>
<% else %>
  <h2>Edit Account Settings</h2>
<% end %>
<div>
  <% if flash[:notice] %>
    <ul>
    <% flash[:notice].each do |n| %>
      <li><%= n %></li>
    <% end %> 
    </ul>
  <% end %> 
</div>

<div class="col-sm-10">
  <%= form_for @user, :html => {class: 'form-horizontal'} do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h4><%= pluralize(@user.errors.count, "error") %> prohibited your changes from being saved:</h4>
        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name, "Username: ", :class => "col-sm-2 control-label"%>
      <div class="col-sm-10">
        <%= f.text_field :name, :class => "form-control", placeholder: "Username"%>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :paypal_email, "Paypal Email: (to receive tips with) ", :class => "col-sm-2 control-label"%>
      <div class="col-sm-10">
        <%= f.text_field :paypal_email, :class => "form-control", placeholder: "Paypal email" %>
      </div>
    </div>
    <div class="col-sm-offset-2 inline">
        <%= f.submit "Commit Changes", :class => "btn btn-default" %>
        <button class="btn btn-default back">Back</button>
    </div>
  <% end %>
</div>