<h1><%= @user.name %>'s News Column</h1>

<% @user.articles.each do |article| %>

<!-- Needs to link to the article show page -->

<button>
Title: <%= article.title %>
<br>
Abstract: <%= article.abstract %>
<br>
Rep: <%= article.rep %>
</button>
<% end %>

<br>

Subscribers: <h1><%= current_user.subscribers.count%></h1>

<br>
<button><%= link_to "Subscribe", "subscribe" %></button>
<br>
<button><%= link_to "Unsubscribe", "unsubscribe" %></button>
<br>
